<mat-card class="example-card">
    <img class="a" mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUkzz2o56-3DK8wvI2bUUIlyBETIUzXf8G-w&usqp=CAU" alt="Want to see me" style="height:400px; width:300px">
    <h3>
        If you want to have Delicious <strong>Waffles</strong> add the info. You will get call back.
    </h3>

</mat-card>
<br>
<br>
<br>

<button class="b" mat-flat-button color="accent" style="height: 50px;width: 100px;" [routerLink]="['/form']" routerLinkActive="router-link-active">Form</button>
<button class="b" mat-raised-button color="primary" (click)="gotoInfo()">View Info</button>